<!DOCTYPE html>
<html>
<head th:replace="baseTemplate :: cabecera">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="card" style="width: 18rem;">
  <img th:alt="${alumno.foto}" th:src="@{'/recursos/'} + ${alumno.foto}">
  <div class="card-body">
    <h5 class="card-title" th:text="'Nombre: ' + ${alumno.nombre}"></h5>
    <p class="card-text" li th:text="'Apellidos: ' + ${alumno.apellidos}"></p>
    <a th:href = @{/examen} class="btn btn-primary">Volver</a>
  </div>
</div>

	<script th:replace="baseTemplate :: javascriptSupport"></script>

</body>
</html>