<!DOCTYPE html>
<html>
<head th:replace="baseTemplate :: cabecera">
<meta charset="UTF-8">
<title>Examen Curso</title>
</head>
<body>
	<h3>Alumnos</h3>
	
	<table  class="table table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Sexo</th>
				<th>Telefono</th>
				<th>Correo</th>
				<th>Curso</th>		
				<th>Horario</th>
				<th>Borrar</th>
				<th>Actualizar</th>	
				<th></th>	
			</tr>
		</thead>
		<tbody>
			<tr th:each="alumno : ${alumnos}">
				<td th:text="${alumno.nombre}"></td>
				<td th:text="${alumno.apellidos}"></td>
				<td th:text="${alumno.sexo.nombre}"></td>
				<td th:text="${alumno.telefono}"></td>
				<td th:text="${alumno.correo}"></td>
				<td th:text="${alumno.curso.descripcion}"></td>
				<td th:text="${alumno.curso.horario.nombre}"></td>
				<td><a th:href = @{/borrar/{id}(id=${alumno.id})}><button type="button" th:value="${alumno.id}" th:text="${alumno.id}"></button></a></td>
				<td><a th:href = @{/botonactualiza/{id}(id=${alumno.id})}><button type="button" th:text="Actualizar"></button></a></td>				
				<td><a th:href="@{/detalle/} + ${alumno.id}">Detalles</a></td>
			</tr>
		</tbody>
	</table>

	
		<h3>Alumnos Mañana</h3>
	
	<table class="table table-dark table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Sexo</th>
				<th>Telefono</th>
				<th>Correo</th>
				<th>Curso</th>		
				<th>Horario</th>		
			</tr>
		</thead>
		<tbody>
			<tr th:each="alumno : ${alumnosManana}">
				<td th:text="${alumno.nombre}"></td>
				<td th:text="${alumno.apellidos}"></td>
				<td th:text="${alumno.sexo.nombre}"></td>
				<td th:text="${alumno.telefono}"></td>
				<td th:text="${alumno.correo}"></td>
				<td th:text="${alumno.curso.descripcion}"></td>
				<td th:text="${alumno.curso.horario.nombre}"></td>
			</tr>
		</tbody>
	</table>
	
	
	
	<h3>Alumnos Curso</h3>
	
	<table class="table table-success table-striped">
		<thead></thead>
		<tbody>
			<tr th:each="alumno : ${alumnosCurso}">
			<td th:text="${alumno.key.descripcion}"></td>
			<td>
			<table border="1">
			
				<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Curso</th>				
				</tr>
				</thead>
				<tr th:each="alu : ${alumno.value}">
					<td th:text="${alu.nombre}"></td>
					<td th:text="${alu.apellidos}"></td>
					<td th:text="${alu.curso.descripcion}"></td>
				</tr>
			</table>
			</td>
			</tr>
		</tbody>
	</table>




	<div class="container">
		<div class="row">
			<div class="colum">
				<form th:action="@{/postrequest}" method="post"
					th:object="${alumno}" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Nombre</label>
						<input type="text" class="form-control" th:field="*{nombre}">
						<div id="emailHelp" class="form-text">Obligatorio</div>
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Apellidos</label>
						<input type="text" class="form-control" th:field="*{apellidos}">
						<div id="emailHelp" class="form-text">Obligatorio</div>
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Telefono</label>
						<input type="text" class="form-control" th:field="*{telefono}">
						<div id="emailHelp" class="form-text">Obligatorio</div>
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Correo</label>
						<input type="text" class="form-control" th:field="*{correo}">
						<div id="emailHelp" class="form-text">Obligatorio</div>
					</div>

					<div class="form-check">
						<li th:each="sexo : ${sexos}"><input class="form-check-input"
							id="sexo" type="radio" th:field="*{sexo}" th:value="${sexo.id}">
							<label th:for="${sexo.id}" th:text="${sexo.nombre}"></label></li>
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>




	<h2> Formulario de alta</h2>
	<form th:action="@{/postrequest}" method="post" th:object="${alumno}" enctype="multipart/form-data">
		<input type="hidden" th:field="*{id}">
		<p><input type ="text" placeholder="Nombre" th:field="*{nombre}"></input></p>
		<p><input type ="text" placeholder="Apellidos" th:field="*{apellidos}"></input></p>
		<p><input type ="text" placeholder="Telefono" th:field="*{telefono}"></input></p>
		<p><input type ="text" placeholder="Correo" th:field="*{correo}"></input></p>
		<p><input type="file" name="file"></p>
		

		<div class="form-check">
			<li th:each="sexo : ${sexos}">
				<input class="form-check-input" id="sexo" type="radio" th:field="*{sexo}" th:value="${sexo.id}"> 
				<label th:for="${sexo.id}" th:text="${sexo.nombre}"></label>
			</li>
		</div>
		


		<div>
			<select id="curso" th:field="*{curso}">
			<option value="">Selecciona Curso</option>
			<option th:each="curso : ${cursos}" th:text="${curso.descripcion}" th:value="${curso.id}">Selecciona el curso</option>
			</select>
		</div>

		
<!--		<div>
			<select id="horario" name="horario">
			<option value="">Selecciona Horario</option>
			<option th:each="horario : ${horarios}" th:text="${horario.nombre}" th:value="${horario.id}">Selecciona el Horario</option>
			</select>
		</div>
-->		
		
		<p><input type="submit" value="Enviar"></input></p>
	</form>
	
	
	<script th:replace="baseTemplate :: javascriptSupport"></script>
	
</body>
</html>